body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.container {
  max-width: 80%;
  padding: 0 20px;
  margin: 0 auto;
}
.menu_add_motor {
  display: flex;
  background-color: #273f65;
  color: #f4f6f5;
  border-radius: 20px;
  padding: 10px;
}
.form_add_motor {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 8px;
}
.add_moto_btn {
  background-color: #e0e0e0;
  color: #f4f6f5;
  padding: 8px;
  border-radius: 20px;
  font-size: 22px;
  min-width: 150px;
  border: none;
  cursor: pointer;
}
.input_add_motor {
  padding: 4px;
}

.motor_container {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.motor_card {
  min-width: 220px;
  padding: 8px;
  border-radius: 20px;
  background-color: #273f65;
  color: #f4f6f5;
  cursor: pointer;
}
