<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>ME</title>
  </head>
  <body>
    <div class="container">
      <div class="menu_add_motor">
        <form class="form_add_motor" action="/add_motor" method="POST">
          <div class="name_motor_wrapper">
            <label for="motor_name">Motor name:</label>
            <input
              class="input_add_motor"
              type="text"
              id="motor_name_id"
              name="motor_name_text"
              required
            />
          </div>
          <div class="tesys_motor_wrapper">
            <label for="ip_tesys">Ip tesys:</label>
            <input
              class="input_add_motor"
              type="text"
              id="ip_tesys_id"
              name="ip_tesys_text"
              required
            />
          </div>
          <div class="plc_motor_wrapper">
            <label for="ip_plc">Ip plc:</label>
            <input
              class="input_add_motor"
              type="text"
              id="ip_plc_id"
              name="ip_plc_text"
              required
            />
          </div>
          <div class="plc_motor_wrapper">
            <label for="motor_location">Motor location:</label>
            <input
              class="input_add_motor"
              type="text"
              id="motor_location_id"
              name="motor_location_text"
              required
            />
          </div>
          <button class="add_moto_btn" type="submit">add motor</button>
        </form>
      </div>
      <div class="motor_container">
        {% for motor in motors %}
        <div class="motor_card">
          <h3 class="motor_card_id">Motor {{ motor.id }}</h3>

          <p class="motor_card_name">Name:{{ motor.name_motors }}</p>
          <p class="motor_card_tesys">IP Tesys: {{ motor.ip_tesys }}</p>
          <p class="motor_card_plc">IP PLC: {{ motor.ip_plc }}</p>
          <p class="motor_card_location">Location:{{ motor.location }}</p>

          <div class="motor_card_btn">
            <button class="about_motor">Детальніше</button>
            <button
              class="delete_motor"
              onclick="DeleteMotor('{{ motor.id }}')"
            >
              Видалити
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script>
      async function DeleteMotor(id) {
        await fetch(`/delete_motor/${id}`, {
          method: "DELETE",
        });
        location.reload();
      }
    </script>
  </body>
</html>
